API_URL=https://smk-at-tahirin.pages.dev
GATEWAY_KEY=ISI_SECRET_YANG_SAMA_DENGAN_CLOUDFLARE
CHROME_PATH=
ACTIVE_START=05:00
ACTIVE_END=17:00
POLL_ACTIVE_MS=60000
POLL_IDLE_MS=600000
SEND_DELAY_MIN_MS=5000
SEND_DELAY_MAX_MS=7000
